<nav class="menu">
  <ul class="menu__bar">
    <li class="menu__item">
      <a
        class="menu__link"
        routerLink="table/all"
        routerLinkActive="active"
      >All emojis</a>
    </li>
    <li class="menu__item">
      <a
        class="menu__link"
        routerLink="table/favorite"
        routerLinkActive="active"
      >Favorite emojis</a>
    </li>
    <li class="menu__item">
      <a
        class="menu__link"
        routerLink="table/removed"
        routerLinkActive="active"
      >Removed emojis</a>
    </li>
  </ul>
</nav>
